<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <arg name="rviz_config" default="" />
  <arg     if="$(eval rviz_config=='')" name="command_args" value="" />
  <arg     if="$(eval rviz_config==true)" name="command_args" value="-d $(find millrace_moveit_config)/launch/moveit.rviz" />
  <arg unless="$(eval rviz_config=='' or rviz_config==true)" name="command_args" value="-d $(arg rviz_config)" />

  <node name="$(anon rviz)" launch-prefix="$(arg launch_prefix)" pkg="rviz" type="rviz" respawn="false"
        args="$(arg command_args)" output="screen">
  </node>

  <group ns="palm_camera">
    <node name="camera_info" pkg="rostopic" type="rostopic"
        args="pub camera_info sensor_msgs/CameraInfo
      '{header: {seq: 0, stamp: {secs: 0, nsecs: 0}, frame_id: 'palm'},
        height: 360, width: 640, distortion_model: 'plumb_bob',
        D: [0],
        K: [1356.579, 0.0, 0.0, 0.0, 360.678, 0.0, 0.0, 0.0, 1.0],
        R: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
        P: [1356.579, 0.0, 0.0, 0.0, 0.0, 360.678, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0],
        binning_x: 0, binning_y: 0,
        roi: {x_offset: 0, y_offset: 0, height: 360, width: 640, do_rectify: false}}' -r 2"
        output="screen"/>
  </group>
</launch>
